.custom-select {
    position: relative;
	margin-right: 2rem;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 10%;
	font-size: .7vw;
	font-weight: bold;
	padding: .5%;
	background-color: #A6A6A2;
	border: 1px solid #000000;
	border-radius: 5px;
	color: #555555;
	cursor: pointer;
	outline: none;
	box-shadow: 2px 3px 2px 0px #E2E2E2;
}

.custom-select select:focus {
	background: #F2F2F2;
	border: 2px solid #BCC7C0;
	border-radius: 5px;
}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background-color: #e34343;
	clip-path: polygon(50% 0%, 100% 40%, 0% 60%, 100% 60%, 50% 100%, 0% 60%, 100% 40%, 0% 40%);
}
